* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    overflow: hidden;
}

.bg {
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
}

.search {
    position: relative;
    top: -70vh;
    left: 35vw;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 25vw;
    border-radius: 5px;
}

::placeholder {
    color: black;
    font-weight: bold;
}

#searchBar {
    width: 20vw;
    height: 6vh;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    border-bottom: 1px solid black;
}

.search img {
    position: relative;
    left: -2.5vw;
    top: 0.7vh;
    height: 20px;
}

.search img:hover {
    cursor: pointer;
}

#searchBar:hover {
    background-color: rgb(206, 201, 201);
    box-shadow: 5px 5px rgb(51, 48, 48);
}

/* content */

.result {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -60vh;
    left: 8vw;
    z-index: 3;
}

.placeName {
    text-align: center;
    justify-content: center;
    background-color: rgba(206, 201, 201, 0.4);
    margin: 10px;
    border-radius: 10px;
}

.result img {
    height: 20vh;
    width: 15vw;
    position: relative;
    margin: 35px;
}

.result h1,
h3 {
    margin: 1vh;
}